---
import Layout from '@/layouts/Layout.astro';
import { getPosts } from './post.api';

const posts = await getPosts();

const date = (date: string) =>
	new Date(date).toLocaleDateString('es-Es', {
		year: 'numeric',
		month: 'long',
		day: 'numeric',
	});
---

<Layout
	title="Blog"
	description="Artículos sobre desarrollo web, tecnología y programación por Joseba Querejeta."
	canonical="/posts"
>
	<h1>Blog</h1>
	{
		posts.map((post) => (
			<>
				<h2>{post.title}</h2>
				<p>{date(post.date)}</p>
				<a href={`/posts/${post.slug}`}>Leer más</a>
			</>
		))
	}
</Layout>
