---

---

<div>
	<a href="/" aria-label="Portafolios - Josebaquerejeta.com" class="relative">
		<svg
			id="hex"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
			viewBox="0 0 84 96"
			class="absolute top-0 -z-1"
			><g transform="translate(-8.000000, -2.000000)"
				><g transform="translate(11.000000, 5.000000)"
					><polygon
						stroke="red"
						stroke-width="var(--color-secondary)"
						stroke-linecap="round"
						stroke-linejoin="round"
						points="39 0 0 22 0 67 39 90 78 68 78 23"
						fill="var(--color-secondary)"></polygon></g
				></g
			></svg
		>
		<svg
			focusable="true"
			width="42"
			height="48"
			viewBox="0 0 76 87"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M38 3.23071L3 22.9743V63.3589L38 83.9999L73 64.2564V23.8717L38 3.23071Z"
				fill="var(--color-primary)"
				stroke="var(--color-secondary)"
				stroke-width="5"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
			<g clip-path="url(#clip0_2610_683)">
				<path
					d="M35.2711 59.3458C32.0834 59.3458 29.5562 58.4699 27.6895 56.7181C25.8516 54.9376 24.9326 52.554 24.9326 49.5673H30.3172C30.3172 51.1468 30.7624 52.3817 31.6526 53.2719C32.5429 54.1622 33.749 54.6073 35.2711 54.6073C36.7931 54.6073 37.9993 54.1766 38.8895 53.315C39.7798 52.4248 40.2249 51.1899 40.2249 49.6104V32.4227H32.9018V27.4258H45.6095V49.6104C45.6095 52.6258 44.6762 55.0094 42.8095 56.7612C40.9716 58.4842 38.4588 59.3458 35.2711 59.3458Z"
					fill="#38FFA9"></path>
			</g>
			<defs>
				<clipPath id="clip0_2610_683">
					<rect
						width="21.5385"
						height="33.2051"
						fill="white"
						transform="translate(24.5381 26.5642)"></rect>
				</clipPath>
			</defs>
			<use xlink:href="/"></use>
		</svg>
		<span class="sr-only">josebaquerejeta.com</span>
	</a>
</div>
<style>
	svg:nth-of-type(2) {
		transition: var(--smooth-animation);
		&:hover {
			outline: none;
			transform: translate(-4px, -3px);
		}
	}
</style>
