---
const currentYear = new Date().getFullYear();
---

<footer class="h-footer flex items-center justify-center py-8">
	<p class="font-secondary text-lightest-slate text-sm">
		&copy; {currentYear} Joseba Querejeta. Todos los derechos reservados.
	</p>
	<p class="font-secondary text-lightest-slate text-sm">
		Diseño inspirado en el portfolio de <a
			href="https://github.com/bchiang7/v4"
			target="_blank"
			rel="noreferrer"
			class="text-secondary hover:text-slate"
		>
			Brittany Chiang</a
		>
	</p>
</footer>
