---
import { getWorks } from './work.api';
import WorkItem from './WorkItem.astro';

import type { WorkWithItems } from './work.model';
import SectionTitle from '../SectionTitle/SectionTitle.astro';

const works: WorkWithItems[] = await getWorks();
---

<section class="work max-w-5xl! py-15 sm:px-20 md:py-25" id="examples">
	<SectionTitle title="Ejemplos" />
	<ul>
		{
			works.map((work) =>
				work.singleWorkData.map((item, i) => (
					<WorkItem item={item} index={i} />
				)),
			)
		}
	</ul>
</section>
